* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image:url(../img/losangeles17.jpg);
    background-position: center;
    background-size: cover no-repeat;
    font-family: 'Quicksand', sans-serif;
    color: #000;
    
    
}

input {
    padding: 5px;
    margin: 25px;
}



.location-timezone {
    color: rgb(233, 10, 10);
    margin: 5px;
    font-size: 2.5rem;
    
    
}

.location {
    margin: 100px;
    
}
.temperature {
    /* height: 30vh; */
    margin: 20px;
    /* width: 50%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #3704ad;
}

.temperature {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span {

    font-size: 1.3rem;
}

.degree-section h2 {
    font-size: 2rem;
}

#date {
    color: #fff;
    font-size: 8rem;
    
}

h1 {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 0.5rem;
    opacity: 0.6;
}


@media(max-width: 700px) {
    
    #date {
        font-size: 6rem;
    }
        

}